html{
    background-color: #1F1F23;
    color: #fff;
    margin: 0px 20px;
}

a{
    color: red;
}

nav{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-bottom: 20px;
}