@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html,body{
    background-color: #1F1F23;
    color: #fff;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    margin: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
nav .active {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(36, 200, 36);
}

header {
    height: 400px;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

h1 {
    color: rgb(36, 200, 36);
   font-family: 'Montserrat', sans-serif;
   font-size: 54px;
   letter-spacing: 5px;
}
header h2 {
    font-size: 23px;
    letter-spacing: 5px;    
}



section {
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:40px;
}


.recipeBox {
    cursor: pointer;
    width: 400px;
    transition: .5s ease;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
    background-color: white;
    color:black;
}

.recipeBox:hover{
    transform: scale(1.1);  
}

.upperPic img{
    height: 40%;
    width: 100%;
}
.recipeBox h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

button{
    background:rgb(36, 200, 36);
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.filterInput{
    color: rgb(36, 200, 36);
    border: 2px solid rgb(36, 200, 36);
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}

.filterInput:active {
    box-shadow: 2px 2px 15px rgb(36, 200, 36) inset;
}

/*  RECIPE PAGE */
.recipeBoxik{
    display: flex;
    gap: 50px;
    padding: 0px 100px 50px 100px;
}


/* AUTH PAGE CSS */
.loginForm{
    display: flex;
    justify-content: center;
    gap: 20%;
}

.card {
    width: 190px;
    height: 300px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 5px 5px 15px 0px rgb(36, 200, 36, 0.5 );
  }
  
  .form {
    padding: 25px;
  }
  
  .card_header {
    display: flex;
    align-items: center;
  }
  
  .card svg {
    color: rgb(36, 200, 36);
    margin-bottom: 20px;
    margin-right: 5px;
  }
  
  .form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: rgb(36, 200, 36);
  }
  
  .field {
    padding-bottom: 10px;
  }
  
  .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  .input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  .input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: rgb(36, 200, 36);
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
.formButton {
    background-color: rgb(36, 200, 36);
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
}
  
.formButton:hover {
    background-color: rgb(36, 200, 36);
}


/* Create recipe page css */
.recipeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.recipeForm input, textarea {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
